* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;

}

body {

}


.tophead {
	height: 25px;
	background: #EAEAEA;
}
.tophead a {
	padding-left: 830px;
	color: #29BDCA;
}
.tophead span {
	padding-left: 30px;
}


#header {

	height: 150px;
	padding-right: 100px;
}

#header_nav {
	height: 35px;
}

#header_nav ul li {
	float: right;
	padding: 60px 20px;
}

#header_nav ul li a {
	color: #868686;
}


.logotip img {
	padding-top: 10px;
	width: 50px;
	height:50px;
	padding-left: 170px;
}

.logotip span {
 
	font-size: 30px;
	font-weight: lighter;
	font-family: Lucida, Helvetica, monospace;
	color: #696969;

}

.place {
	/*display: flex;*/
	height: 30px;
	background: #008B8B;
	padding-left: 170px;
	padding-top: 10px;
}

.place ul li a {
    font-size: 14px;
    color: #fff;
}

.place ul li::after {
    color: black;
    font-size: 12px;
    padding-left: 15px;
    content: " > ";
}
.place ul li:last-child a {
    color: #63D5DF;
}
.place ul li:last-child::after {
    content: " ";
}
.place ul li {
    padding-right: 15px;
    display: inline;
}

.sidebar {
	height: 150px;
	background: #00CED1;
	padding-top: 30px;
	padding-left: 170px;


}
.sidebar h1{
	font-size: 40px;
	color: #FFF;
	font-weight: lighter;
	font-family: sans-serif, monospace;
}
.sidebar span {

	font-size: 20px;
	color: #B7EDF0;

}
#headers {
	width: 1000px;
	height: 40px;
	margin: 50px auto;
	background: #EAEAEA;	
}
#headers li {
	float: left;
}

#headers li a {
    display: block;
    color: #868686;
    text-align: center;
    padding: 11px 16px;
}

#headers li a:hover:not(.active) {
    background-color: #00CED1;
    color: #FFF;
}

#headers .active {
    background-color: #00CED1;
    color: #FFF;
}


.gallery {
	width: 1000px;
	height: 700px;
	margin: 50px auto;
	background: #FFF;
	display: flex;
    -webkit-flex-wrap: wrap;
    justify-content: space-between;
}


.gallery .item {
    -webkit-box-flex: 0;
    flex: 0 0 300px;
    display: flex;
    flex-flow: column;
    margin: 0 0 30px;
}
.gallery .item img {
    width: 320px;
    height: 150px;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    margin: 0 0 10px;
    content: "";

}

.gallery:after {

    content: "";    
    -webkit-box-flex: 0;
    flex: 0 0 320px;
}


.top {

	padding-left: 170px;
	height: 100px;
	color: gray;
	background: #AFEEEE;
	/*text-align: center;*/
	display: flex;
	justify-content: center;
	align-items: center;
}
.top a {

	background-color: #1C818A;
    color: #fff;
    padding: 10px 25px;
    border-radius: 4px;
    margin-left: 20px;
}
.find-us {
	height: 100px;
	background: #48D1CC;
	color: #fff;	
	padding-left: 170px;
	font-size: 25px;
	display: flex;
	align-items: center;
}
.bot {
	height: 350px;
	background: #607080;
	color: #969696;
	padding-left: 170px;
	padding-right: 170px;
	display: flex;
	justify-content: space-between;
	font-size: 12px;

}
.bot h2 {
	color: #FFF;
	font-family: Lucida, Helvetica, monospace;
	font-weight: lighter;
	padding-bottom: 15px;
}

.about {
	
    width: 300px;
    margin: 50px 0px;

}
.search input {
    height: 40px;
    padding: 0 10px;
    border-radius: 3px;
    color: grey;
    border: none;
}

.tweet {
	width: 300px;
    margin: 50px 0px;

}
.tweet .asd {
	margin-bottom: 20px;
    padding: 10px 25px;
    background-color: #698989;
}

.tweet .bsd {

	padding: 10px 25px;
	background-color: #698989;	
}

.posts {
	width: 300px;
    margin: 50px 0px;
}
#follow {
	padding-top: 15px;
	color: #000;
}

.bottom {

	height: 55px;
	background: #696969;
	display: flex;
	align-items: center;
	padding-left: 170px;

}

.bottom ul li {
	display: inline;
	margin-right: 15px;
	font-size: 12px;
}
.bottom ul li a {
	color: #ccc;
}
.bottom p {
	color: grey;
	padding-left: 350px;
}
.bottom p a {
	color: #ccc;
}



.clr {
	clear: both;
}
